body {
  margin:0px;
  background-color:rgba(225, 229, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:267px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:267px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#142655;
  text-align:left;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:14px;
  width:522px;
  height:122px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#142655;
  text-align:left;
}
#u672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:26px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:52px;
  width:57px;
  height:50px;
  display:flex;
  transition:none;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:267px;
  width:800px;
  height:677px;
}
#u676_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:677px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u678 {
  position:absolute;
  left:0px;
  top:0px;
}
.u678_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u678_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
.u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
.u681 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:23px;
  width:318px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
.u681 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
}
.u682 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:98px;
  width:318px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
}
.u682 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:146px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
.u684 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:22px;
  width:152px;
  height:146px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u685 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:47px;
  width:97px;
  height:97px;
  display:flex;
  transition:none;
}
.u685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
.u685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u687 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:22px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
.u687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u688 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:38px;
  width:40px;
  height:41px;
  display:flex;
  transition:none;
}
.u688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
.u688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u690 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:102px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
.u690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u691 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:117px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
.u691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u678_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u678_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
.u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  padding:14px 16px 16px 16px;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:22px;
  width:318px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694 .text {
  position:absolute;
  align-self:center;
  padding:14px 16px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
.u694_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694.mouseOver {
}
.u694_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694.focused {
}
.u694_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694.hint {
}
.u694_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694.mouseOver.hint {
}
.u694_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
  text-align:center;
}
.u694.focused.hint {
}
.u695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#142655;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  padding:0px 2px 2px 2px;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:108px;
  width:318px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u695_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695.mouseOver {
}
.u695_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695.focused {
}
.u695_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695.hint {
}
.u695_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695.mouseOver.hint {
}
.u695_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 245, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Medium Italic", "Alegreya", sans-serif;
  font-weight:500;
  font-style:italic;
  font-size:50px;
  color:#142655;
  text-align:center;
}
.u695.focused.hint {
}
.u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u697 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:43px;
  width:109px;
  height:109px;
  display:flex;
  transition:none;
}
.u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:109px;
}
.u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u698 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:69px;
  width:62px;
  height:62px;
  display:flex;
  transition:none;
}
.u698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
.u698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u700 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:43px;
  width:109px;
  height:108px;
  display:flex;
  transition:none;
}
.u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:108px;
}
.u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u701 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:72px;
  width:72px;
  height:50px;
  display:flex;
  transition:none;
}
.u701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
.u701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:32px;
  width:671px;
  height:982px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
}
#u702 {
  position:absolute;
  left:27px;
  top:356px;
  visibility:hidden;
}
#u702_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:50px;
  width:522px;
  height:204px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:115px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:294px;
  width:202px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:324px;
  width:57px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:115px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:294px;
  width:202px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:324px;
  width:37px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:60px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u702_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u702_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:200px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u702_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u702_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:200px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u702_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u702_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:200px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:97px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
  text-align:right;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:964px;
  width:470px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:985px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:987px;
  width:382px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:800px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1110px;
  width:140px;
  height:140px;
  display:flex;
  transition:none;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1128px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1186px;
  width:75px;
  height:42px;
  display:flex;
  transition:none;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:1171px;
  width:18px;
  height:39px;
  display:flex;
  transition:none;
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1151px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1130px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
}
#u733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1080px;
  width:172px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u736 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u738 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u739 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:168px;
  width:730px;
  height:67px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#333333;
}
#u742 .text {
  position:absolute;
  align-self:center;
  padding:5px 60px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u742_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742.mouseOver {
}
#u742_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742.focused {
}
#u742_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742.hint {
}
#u742_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742.mouseOver.hint {
}
#u742_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u742.focused.hint {
}
#u743 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:186px;
  width:31px;
  height:31px;
  display:flex;
  transition:none;
}
#u743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:189px;
  width:31px;
  height:26px;
  display:flex;
  transition:none;
}
#u745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
.u747_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.043137254901960784);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u747.mouseOver {
}
.u747_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u747.mouseDown {
}
.u747_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u747.mouseOver.mouseDown {
}
.u747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u748 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:49px;
  width:631px;
  height:1px;
  display:flex;
  transition:none;
}
.u748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:2px;
}
.u748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:229px;
  width:730px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
}
