body {
  margin:0px;
  background-color:rgba(225, 229, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:150px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:70px;
  color:#142655;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:28px;
  width:522px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:70px;
  color:#142655;
  text-align:left;
}
#u868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:26px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:52px;
  width:57px;
  height:50px;
  display:flex;
  transition:none;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:800px;
  height:907px;
}
#u872_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:907px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:5878px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#142655;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:19px;
  width:701px;
  height:5878px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#142655;
}
#u873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:800px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1110px;
  width:140px;
  height:140px;
  display:flex;
  transition:none;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1128px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1186px;
  width:75px;
  height:42px;
  display:flex;
  transition:none;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:1171px;
  width:18px;
  height:39px;
  display:flex;
  transition:none;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1151px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1130px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1080px;
  width:172px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u888 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u890 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u891 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
