body {
  margin:0px;
  background-color:rgba(225, 229, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:97px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
  text-align:right;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:957px;
  width:279px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
}
#u1782 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:978px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u1783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:980px;
  width:162px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u1784 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:97px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
  text-align:right;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:957px;
  width:279px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
}
#u1786 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:980px;
  width:175px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#142655;
}
#u1787 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1003px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u1789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:977px;
  width:61px;
  height:61px;
  display:flex;
  transition:none;
}
#u1790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:800px;
  height:640px;
}
#u1792_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:640px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1792_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1794 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:317px;
  width:718px;
  height:2px;
  display:flex;
  transition:none;
  color:#656D81;
}
.u1794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1794_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:721px;
  height:5px;
}
.u1794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1796 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:225px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
.u1796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
.u1796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1797 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:212px;
  width:42px;
  height:52px;
  display:flex;
  transition:none;
}
.u1797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:52px;
}
.u1797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Italic", "Alegreya", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:34px;
  text-align:left;
}
.u1799 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:149px;
  width:232px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Italic", "Alegreya", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:34px;
  text-align:left;
}
.u1799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1801 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:59px;
  width:90px;
  height:90px;
  display:flex;
  transition:none;
}
.u1801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u1801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1802 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:80px;
  width:54px;
  height:51px;
  display:flex;
  transition:none;
}
.u1802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
.u1802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  text-align:left;
}
.u1803 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:56px;
  width:468px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  text-align:left;
}
.u1803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Italic", "Alegreya", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:34px;
  text-align:left;
}
.u1804 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:213px;
  width:232px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Italic", "Alegreya", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:34px;
  text-align:left;
}
.u1804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1806 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:149px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
.u1806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1807 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:177px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
}
.u1807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
.u1807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1808 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:177px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
}
.u1808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
.u1808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1809 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:177px;
  width:6px;
  height:6px;
  display:flex;
  transition:none;
}
.u1809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
.u1809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1811 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:177px;
  width:90px;
  height:90px;
  display:flex;
  transition:none;
}
.u1811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1812 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:198px;
  width:51px;
  height:53px;
  display:flex;
  transition:none;
}
.u1812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
.u1812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:957px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u1813 {
  position:absolute;
  left:27px;
  top:356px;
  visibility:hidden;
}
#u1813_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1813_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:50px;
  width:522px;
  height:136px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:115px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:294px;
  width:202px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:324px;
  width:57px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u1818 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:115px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:294px;
  width:202px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:324px;
  width:37px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#9EB7E5;
  text-align:center;
}
#u1821 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:60px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1813_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1813_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(15px 15px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:468px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:116px;
  width:522px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
}
#u1824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:290px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:290px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#142655;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:14px;
  width:522px;
  height:109px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#142655;
}
#u1827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:26px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u1829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:52px;
  width:57px;
  height:50px;
  display:flex;
  transition:none;
}
#u1830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
}
#u1830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:181px;
  width:28px;
  height:51px;
  display:flex;
  transition:none;
}
#u1832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:51px;
}
#u1832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:145px;
  width:233px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:181px;
  width:25px;
  height:51px;
  display:flex;
  transition:none;
}
#u1835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:51px;
}
#u1835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:145px;
  width:275px;
  height:136px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1837 {
  position:absolute;
  left:276px;
  top:179px;
}
#u1837_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:249px;
  height:75px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:56px;
  display:flex;
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:70px;
  color:#142655;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:56px;
}
#u1838_img.selected {
}
#u1838.selected {
}
#u1838_img.disabled {
}
#u1838.disabled {
}
#u1838_img.selected.disabled {
}
#u1838.selected.disabled {
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:800px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u1840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1135px;
  width:45px;
  height:45px;
  display:flex;
  transition:none;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:1187px;
  width:68px;
  height:38px;
  display:flex;
  transition:none;
}
#u1843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u1843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1110px;
  width:140px;
  height:140px;
  display:flex;
  transition:none;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u1845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u1847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1171px;
  width:18px;
  height:39px;
  display:flex;
  transition:none;
}
#u1848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
}
#u1848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1151px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1130px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
}
#u1850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u1850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u1851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1080px;
  width:172px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
