body {
  margin:0px;
  background-color:rgba(225, 229, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:783px;
  width:671px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:844px;
  width:428px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2425 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:805px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u2427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u2427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:836px;
  width:51px;
  height:69px;
  display:flex;
  transition:none;
}
#u2428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:69px;
}
#u2428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(20, 38, 85, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:911px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:511px;
  width:671px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:572px;
  width:428px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2432 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:537px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u2433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u2433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:194px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:239px;
  width:671px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:300px;
  width:428px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:55px;
  color:#142655;
}
#u2436 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:287px;
  width:151px;
  height:101px;
  display:flex;
  transition:none;
}
#u2437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u2437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:150px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u2439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:58px;
  color:#142655;
  text-align:left;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:36px;
  width:612px;
  height:79px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:58px;
  color:#142655;
  text-align:left;
}
#u2440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:26px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u2442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:52px;
  width:57px;
  height:50px;
  display:flex;
  transition:none;
}
#u2443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
}
#u2443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:800px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u2445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1135px;
  width:45px;
  height:45px;
  display:flex;
  transition:none;
}
#u2447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:1187px;
  width:68px;
  height:38px;
  display:flex;
  transition:none;
}
#u2448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u2448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1110px;
  width:140px;
  height:140px;
  display:flex;
  transition:none;
}
#u2449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u2449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u2450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u2452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1171px;
  width:18px;
  height:39px;
  display:flex;
  transition:none;
}
#u2453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
}
#u2453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1151px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
}
#u2454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1130px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
}
#u2455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u2455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u2456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1080px;
  width:172px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
