body {
  margin:0px;
  background-color:rgba(225, 229, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:200px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:800px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1110px;
  width:140px;
  height:140px;
  display:flex;
  transition:none;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1128px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1186px;
  width:75px;
  height:42px;
  display:flex;
  transition:none;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1130px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:1171px;
  width:18px;
  height:39px;
  display:flex;
  transition:none;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:39px;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1151px;
  width:13px;
  height:13px;
  display:flex;
  transition:none;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1130px;
  width:100px;
  height:101px;
  display:flex;
  transition:none;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:101px;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1128px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1080px;
  width:172px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u337 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u339 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1080px;
  width:148px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u340 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1080px;
  width:166px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:267px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  color:#000000;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:267px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#142655;
  text-align:left;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:14px;
  width:522px;
  height:122px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#142655;
  text-align:left;
}
#u343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:31px;
  width:105px;
  height:89px;
  display:flex;
  transition:none;
}
#u344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  padding:5px 60px 2px 60px;
  font-family:"Alegreya Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:rgba(20, 38, 85, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:168px;
  width:730px;
  height:67px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
  color:#333333;
}
#u348 .text {
  position:absolute;
  align-self:center;
  padding:5px 60px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u348_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348.mouseOver {
}
#u348_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348.focused {
}
#u348_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(20, 38, 85, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348.hint {
}
#u348_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348.mouseOver.hint {
}
#u348_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
  color:#333333;
}
#u348.focused.hint {
}
#u349 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:186px;
  width:31px;
  height:31px;
  display:flex;
  transition:none;
}
#u349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:189px;
  width:31px;
  height:26px;
  display:flex;
  transition:none;
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
.u353_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.043137254901960784);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u353.mouseOver {
}
.u353_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u353.mouseDown {
}
.u353_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Sans Light Italic", "Alegreya Sans", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:20px;
  color:#142655;
  text-align:left;
}
.u353.mouseOver.mouseDown {
}
.u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u354 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:49px;
  width:631px;
  height:1px;
  display:flex;
  transition:none;
}
.u354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:2px;
}
.u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:229px;
  width:730px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:335px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:547px;
  width:196px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:368px;
  width:181px;
  height:181px;
  display:flex;
  transition:none;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:335px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:547px;
  width:210px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:367px;
  width:181px;
  height:181px;
  display:flex;
  transition:none;
}
#u362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:685px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:897px;
  width:167px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:717px;
  width:181px;
  height:181px;
  display:flex;
  transition:none;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(158, 183, 229, 1);
  border-radius:15px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:685px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:724px;
  width:180px;
  height:166px;
  display:flex;
  transition:none;
}
#u369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:166px;
}
#u369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:897px;
  width:118px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Alegreya Bold", "Alegreya", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#142655;
  text-align:left;
}
#u370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
